.board-row {
  display: flex;
  justify-content: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
}

.game-board {
}

.game-history {
  margin-left: 20px;
}

.game-history__button {
  background: #014d97;
  border: 1px solid #fff;
  border-radius: .25em;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  margin-bottom: 10px;
}

.square {
  background: #014d97;
  border: 1px solid #fff;  /* #999; */
  color: inherit;  /* Why do we need to specify inherit? */
  cursor: pointer;
  font-family: inherit;  /* Why do we need to specify inherit? */
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.status {
  margin-bottom: 10px;
  text-align: center;
}
